<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scj.mapper.AuUserMapper">

    <insert id="save">
        insert into au_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
           <if test="loginCode !=null and loginCode!=''">
               login_Code,
           </if>
            <if test="userName !=null and userName!=''">
                user_Name,
            </if>
            <if test="password !=null and password!=''">
                password,
            </if>
            <if test="password2 !=null and password2!=''">
                password2,
            </if>
            <if test="idCard  !=null and idCard !=''">
                id_Card,
            </if>
            <if test="cardType  !=null and cardType !=''">
                card_Type,
            </if>
            <if test="cardTypeName  !=null and cardTypeName !=''">
                card_Type_Name,
            </if>
            <if test="mobile  !=null and mobile !=''">
                mobile,
            </if>
            <if test="email  !=null and email !=''">
                email,
            </if>
            <if test="postCode  !=null and postCode !=''">
                post_Code,
            </if>
            <if test="referId  !=null">
                refer_Id,
            </if>
            <if test="referCode  !=null and referCode !=''">
                refer_Code,
            </if>
            <if test="country  !=null and country !=''">
                country,
            </if>
            <if test="bankName  !=null and bankName !=''">
                bank_Name,
            </if>
            <if test="accountHolder  !=null and accountHolder !=''">
                account_Holder,
            </if>
            <if test="bankAccount  !=null and bankAccount !=''">
                bank_Account,
            </if>
            <if test="idCardPicPosPath  !=null and idCardPicPosPath !=''">
                id_Card_Pic_Pos_Path,
            </if>
            <if test="idCardPicNegPath  !=null and idCardPicNegPath !=''">
                id_Card_Pic_Neg_Path,
            </if>
            <if test="bankPicPath  !=null and bankPicPath !=''">
                bank_Pic_Path,
            </if>
            <if test="createTime  !=null">
                create_Time,
            </if>
            <if test="userAddress   !=null and userAddress  !=''">
                user_Address,
            </if>
            <if test="referId   !=null">
                refer_Id,
            </if>
            <if test="referCode   !=null and referCode  !=''">
                refer_Code,
            </if>
            <if test="roleId   !=null">
                role_Id,
            </if>
            <if test="roleName   !=null and roleName  !=''">
                role_Name,
            </if>
            <if test="userType   !=null and userType  !=''">
                user_Type,
            </if>
            <if test="userTypeName   !=null and userTypeName  !=''">
                user_Type_Name,
            </if>
            <if test="isStart   !=null">
                is_Start,
            </if>
        </trim>
        <trim suffixOverrides="," suffix=")" prefix="value(">

            <if test="loginCode != null and loginCode != ''">#{loginCode}, </if>

            <if test="userName != null and userName != ''">#{userName}, </if>
            <if test="password !=null and password!=''">
                #{password},
            </if>
            <if test="password2 !=null and password2!=''">
                #{password2},
            </if>

            <if test="idCard != null and idCard != ''">#{idCard}, </if>

            <if test="cardType != null and cardType != ''">#{cardType}, </if>
            <if test="cardTypeName  !=null and cardTypeName !=''">
                #{cardTypeName},
            </if>

            <if test="mobile != null and mobile != ''">#{mobile}, </if>

            <if test="email != null and email != ''">#{email}, </if>

            <if test="postCode != null and postCode != ''">#{postCode}, </if>

            <if test="referId != null ">#{referId}, </if>

            <if test="referCode != null and referCode != '' ">#{referCode}, </if>

            <if test="country != null and country != '' ">#{country}, </if>

            <if test="bankName != null and bankName != '' ">#{bankName}, </if>

            <if test="accountHolder != null and accountHolder != '' ">#{accountHolder}, </if>

            <if test="bankAccount != null and bankAccount != '' ">#{bankAccount}, </if>

            <if test="idCardPicPosPath != null and idCardPicPosPath != '' ">#{idCardPicPosPath}, </if>

            <if test="idCardPicNegPath != null and idCardPicNegPath != '' ">#{idCardPicNegPath}, </if>

            <if test="bankPicPath != null and bankPicPath != '' ">#{bankPicPath}, </if>
            <if test="createTime  !=null">
                #{createTime},
            </if>

            <if test="userAddress != null and userAddress != '' ">#{userAddress}, </if>
            <if test="referId   !=null">
                #{referId},
            </if>
            <if test="referCode   !=null and referCode  !=''">
                #{referCode},
            </if>
            <if test="roleId   !=null">
                #{roleId},
            </if>
            <if test="roleName   !=null and roleName  !=''">
                #{roleName},
            </if>
            <if test="userType   !=null and userType  !=''">
                #{userType},
            </if>
            <if test="userTypeName   !=null and userTypeName  !=''">
                #{userTypeName},
            </if>
            <if test="isStart   !=null">
                #{isStart},
            </if>
    </trim>
    </insert>
    <update id="LoginCodeupdatePwd">
        update au_user
        <set>
            password = #{newPwd}
        </set>
        where login_Code=#{loginCode}
    </update>
    <update id="LoginCodeupdatePwd2">
        update au_user
        <set>
            password2 = #{newPwd2}
        </set>
        where login_Code=#{loginCode}
    </update>
    <update id="updateUser">
        update au_user
        <set>
            <if test="idCard  !=null and idCard !=''">
                id_Card = #{idCard},
            </if>
            <if test="cardType  !=null and cardType !=''">
                card_Type= #{cardType},
            </if>
            <if test="cardTypeName  !=null and cardTypeName !=''">
                card_Type_Name= #{cardTypeName},
            </if>
            <if test="mobile  !=null and mobile !=''">
                mobile= #{mobile},
            </if>
            <if test="email  !=null and email !=''">
                email= #{email},
            </if>
            <if test="postCode  !=null and postCode !=''">
                post_Code= #{postCode},
            </if>
            <if test="country  !=null and country !=''">
                country= #{country},
            </if>
            <if test="bankName  !=null and bankName !=''">
                bank_Name= #{bankName},
            </if>
            <if test="accountHolder  !=null and accountHolder !=''">
                account_Holder= #{accountHolder},
            </if>
            <if test="bankAccount  !=null and bankAccount !=''">
                bank_Account= #{bankAccount},
            </if>
            <if test="idCardPicPosPath  !=null and idCardPicPosPath !=''">
                id_Card_Pic_Pos_Path= #{idCardPicPosPath},
            </if>
            <if test="idCardPicNegPath  !=null and idCardPicNegPath !=''">
                id_Card_Pic_Neg_Path= #{idCardPicNegPath},
            </if>
            <if test="bankPicPath  !=null and bankPicPath !=''">
                bank_Pic_Path= #{bankPicPath},
            </if>
            <if test="userAddress   !=null and userAddress  !=''">
                user_Address= #{userAddress},
            </if>
        </set>
        where
        id = #{id}
    </update>
    <delete id="delById">
        delete from au_user
        where id=#{id}
    </delete>
    <delete id="delByIds">
        delete from au_user
        where id in
        <foreach collection="list" open="(" close=")" separator="," item="ids" index="index">
            #{ids}
        </foreach>
    </delete>
    <select id="findUserName" resultType="cn.scj.model.AuUser">
        select id,user_Name,login_Code
        from au_user
        where
        user_Name=#{userName}
    </select>
    <select id="findLoginCode" resultType="cn.scj.model.AuUser">
        select id,user_Name,login_Code,password,password2
        from au_user
        where
        login_Code=#{loginCode}
    </select>
    <select id="findAll" resultType="cn.scj.model.AuUser">
        select id, login_Code, password, password2, user_Name, sex,
        birthday, card_Type, card_Type_Name, id_Card, country, mobile,
         email, user_Address, post_Code, create_Time, refer_Id, refer_Code,
         role_Id, role_Name, user_Type, user_Type_Name, is_Start, last_Update_Time,
         last_Login_Time, bank_Account,
        bank_Name, account_Holder, id_Card_Pic_neg_Path, id_Card_Pic_pos_Path, bank_Pic_Path
        from au_user
        where
        id=#{id}
    </select>
    <select id="findAllCode" resultType="cn.scj.model.AuUser">
         select id, login_Code, password, password2, user_Name, sex,
        birthday, card_Type, card_Type_Name, id_Card, country, mobile,
         email, user_Address, post_Code, create_Time, refer_Id, refer_Code,
         role_Id, role_Name, user_Type, user_Type_Name, is_Start, last_Update_Time,
         last_Login_Time, bank_Account,
        bank_Name, account_Holder, id_Card_Pic_neg_Path, id_Card_Pic_pos_Path, bank_Pic_Path
        from au_user
        <where>
          <if test="loginCode !=null and loginCode != ''">
              <bind name="newLoginCode" value="'%'+loginCode+'%'"/>
              login_code like #{newLoginCode}
          </if>
        </where>


    </select>
</mapper>