<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.scj.mapper.GoodsPackMapper">
  <resultMap id="BaseResultMap" type="cn.scj.model.GoodsPack">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="goods_Pack_Name" jdbcType="VARCHAR" property="goodsPackName" />
    <result column="goods_Pack_Code" jdbcType="VARCHAR" property="goodsPackCode" />
    <result column="type_Id" jdbcType="INTEGER" property="typeId" />
    <result column="type_Name" jdbcType="VARCHAR" property="typeName" />
    <result column="total_Price" jdbcType="DOUBLE" property="totalPrice" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="created_By" jdbcType="VARCHAR" property="createdBy" />
    <result column="create_Time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_Update_Time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.scj.model.GoodsPack">
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, goods_Pack_Name, goods_Pack_Code, type_Id, type_Name, total_Price, `state`, num, 
    created_By, create_Time, last_Update_Time
  </sql>
  <sql id="Blob_Column_List">
    note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from goods_pack
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from goods_pack
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.scj.model.GoodsPack" useGeneratedKeys="true">
    insert into goods_pack (goods_Pack_Name, goods_Pack_Code, type_Id, 
      type_Name, total_Price, `state`, 
      num, created_By, create_Time, 
      last_Update_Time, note)
    values (#{goodsPackName,jdbcType=VARCHAR}, #{goodsPackCode,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, 
      #{typeName,jdbcType=VARCHAR}, #{totalPrice,jdbcType=DOUBLE}, #{state,jdbcType=INTEGER}, 
      #{num,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.scj.model.GoodsPack" useGeneratedKeys="true">
    insert into goods_pack
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsPackName != null">
        goods_Pack_Name,
      </if>
      <if test="goodsPackCode != null">
        goods_Pack_Code,
      </if>
      <if test="typeId != null">
        type_Id,
      </if>
      <if test="typeName != null">
        type_Name,
      </if>
      <if test="totalPrice != null">
        total_Price,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="createdBy != null">
        created_By,
      </if>
      <if test="createTime != null">
        create_Time,
      </if>
      <if test="lastUpdateTime != null">
        last_Update_Time,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsPackName != null">
        #{goodsPackName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPackCode != null">
        #{goodsPackCode,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.scj.model.GoodsPack">
    update goods_pack
    <set>
      <if test="goodsPackName != null">
        goods_Pack_Name = #{goodsPackName,jdbcType=VARCHAR},
      </if>
      <if test="goodsPackCode != null">
        goods_Pack_Code = #{goodsPackCode,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null">
        type_Id = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="typeName != null">
        type_Name = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="totalPrice != null">
        total_Price = #{totalPrice,jdbcType=DOUBLE},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=INTEGER},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null">
        created_By = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        last_Update_Time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.scj.model.GoodsPack">
    update goods_pack
    set goods_Pack_Name = #{goodsPackName,jdbcType=VARCHAR},
      goods_Pack_Code = #{goodsPackCode,jdbcType=VARCHAR},
      type_Id = #{typeId,jdbcType=INTEGER},
      type_Name = #{typeName,jdbcType=VARCHAR},
      total_Price = #{totalPrice,jdbcType=DOUBLE},
      `state` = #{state,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      created_By = #{createdBy,jdbcType=VARCHAR},
      create_Time = #{createTime,jdbcType=TIMESTAMP},
      last_Update_Time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.scj.model.GoodsPack">
    update goods_pack
    set goods_Pack_Name = #{goodsPackName,jdbcType=VARCHAR},
      goods_Pack_Code = #{goodsPackCode,jdbcType=VARCHAR},
      type_Id = #{typeId,jdbcType=INTEGER},
      type_Name = #{typeName,jdbcType=VARCHAR},
      total_Price = #{totalPrice,jdbcType=DOUBLE},
      `state` = #{state,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      created_By = #{createdBy,jdbcType=VARCHAR},
      create_Time = #{createTime,jdbcType=TIMESTAMP},
      last_Update_Time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>